body {
 background-color: #111;
 margin: 0%;
 padding: 1% 10% 10% 10%;
 color: #88f;
 font-family: "Courier";
 font-size: 15pt;
}

.indented {
    text-indent: 40pt;
}

.divbox {
    display: flex;
}

.divbox:hover {
    text-decoration: underline;
}


hr {
    border-color: inherit;
}


.hiddenlink {
    color: inherit;
}

.hiddenlink:link {
    text-decoration: none;
    color: inherit;
}

.hiddenlink:visited {
    text-decoration: none;
    color: inherit;
}

.hiddenlink:hover {
    text-decoration: none;
    color: inherit;
}

.hiddenlink:active {
    text-decoration: none;
    color: inherit;
}

span {
 font-family: "Courier";
 font-size: 1.25em;
}

.flashing {
 animation: type 0.5s infinite;
}

@keyframes type{
 to { opacity: .0; }
}

figure {
  border: 1px #cccccc solid;
  padding: 5px;
  margin: 10px;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

summary {
    display: list-item;
}

code {
    color: inherit;
    background-color: #444;
}

pre {
    text-align: center;
    color: inherit;
    background-color: inherit;
}

/* Social Media ICONS */

.fa {
  padding: 25px;
  font-size: 30px;
  width: 30%;
  height: 75px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each social media */
/* LinkedIN */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* GitHub */
.fa-github {
  background: #222222;
  color: white;
}


/* Email */
.fa-envelope {
  background: #774433;
  color: white;
}


/* Responsive CSS */
div.imgcontainer {
  display: inline-block;
}

img.responsive {
    max-width: 100%;
}


@media only screen and (max-width: 20cm) {
    div.responsive {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    div.disappear {
        display: none;
    }
}
